body{
    border: solid rgb(13, 1, 173);
}
.con{
    position: relative;
    left: 350px;
    top: 150px;
}
.end{
    width: auto;
    height: 35px;
    background-color: #583381;
    padding: 5px;
    position: relative;
    top: 315px;
}
.p1{
    position: relative;
    top: -8px;
}
